<!-- <h1>Hello</h1>

<video width="640px" height="480px"></video>
<button id="startBtn">{{ startButtonText }}</button>
<button id="stopBtn">Stop</button>
<button id="videoSelectBtn">Get video source</button>
<select name="" id="selectMenu" (click)="getVideoSource()">
  <option value="{{ source.id }}" *ngFor="let source of sources">
    {{ source.label }}
  </option>
</select> -->

<h3>Screenshot of Page in Electron</h3>
<button id="screenshot" (click)="takeScreenshot()">Take Screenshot</button>

<br />
<br />

<button (click)="pingGoogle()">Ping google</button>
<button (click)="pingFacebook()">Ping facebook</button>
